[user]
	name = Andres Osorio
	email = andres.osorio@payfit.com
  	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPAEjbHUWPeEvrRW4zFkBjFHuKWwBxK8uwHayjsOl/lM
[init]
	defaultBranch = main
[include]
	path = ~/.config/delta/catppuccin.gitconfig
[core]
	autocrlf = input
	pager = delta
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true  # use n and N to move between diff sections
	side-by-side = true
	line-numbers = true
	hyperlinks = true
	features = whitespace decorations catppuccin-frappe
	hyperlinks-file-link-format = "cursor://file/{path}:{line}"
[merge]
	conflictStyle = zdiff3
[pull]
	rebase = false
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[alias]
  a = add
  st = status
  cm = commit -m
  amendit = commit --amend --no-edit
  br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
  head = log --oneline
  flog = log --pretty=fuller --decorate
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  latest = !git switch main && git pull
